{% extends "base.html" %}
{% block title %}File Encryptor{% endblock %}

{% block content %}
{% if not email %}
<p style="padding: 10px 5px">
    You are currently not logged in. Please <a href="/login">Login</a> to our system or <a href="/register">Register</a>.
</p>
{% else %}
<p style="padding: 10px 5px">
    Hello You have Logged in as {{ email }}
    <a href="/logout">(Logout)</a>
</p>
<ul style="margin: 10px;">
    <li><a href="/rsa/convert">RSA on Text</a></li>
    <li><a href="/rsa/convert_file">RSA on File</a></li>
    <li><a href="/custom-rsa/convert">Custom RSA on Text</a></li>
    <li><a href="/custom-rsa/convert_file">Custom RSA on File</a></li>
    <li><a href="/other-ciphers">Other Ciphers</a></li>
</ul>
{% endif %}
{% endblock %}